<!-- Background Img -->
<body class="background-auth">

  <div class="container">
    <div class="row">
    
      <!-- Signup Form -->
      <div class="col-lg-6 col-lg-offset-3 boarder-box container-spacing">
        <h2 class="text-center">Sign Up!</h2>
        <br>
        <br>

        <form action="/signup" method="post">

          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Master Chief">
          </div>
          <br>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <br>

          <button type="submit">Signup</button>
        </form>
      </div>

    </div>
  </div>
    
</body>